<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">
	<select id="getList" resultType="org.zerock.domain.BoardVO">	<!-- DB조회를 xml파일로 코딩해서 구현하는 법 -->
		select * from tbl_board where bno > 0
	</select>
	<insert id="insert">	<!-- DB등록을 xml파일로 코딩해서 구현하는 법 -->
		insert into tbl_board(bno, title, content, writer) values(#{bno},
		#{title}, #{content}, #{writer})
	</insert>
	
	<!-- 오라클에서 sequence를 구현했을때만 사용해야겠지? 난 mysql로 하고있다
	<insert id="insertSelectKey">	
		<selectKey keyProperty="bno" order="BEFORE" resultType="long"> 반환값이 long타입일때 쿼리를 수행해라!
			select seq_board.nextval from dual
		</selectKey>	게시글 번호가 몇개인지 확인하겠다는 얘기
		insert into tbl_board (bno,title,content, writer)
		values (#{bno}, #{title}, #{content}, #{writer}) 
	</insert>
	
	만약 자동으로 추가된 pk(bno)값을 확인해야 하는 상황이 온다면? (ex.게시물의 갯수)
	sequence객테의 currentval이라는 함수를 이용하면 앞으로 들어갈 pk값을 확인할 수 있다. 그러나 임의의 갯수, 임의의 번째 실행이라면? 제약사항이 있다는 것이다.
	데이터의 값이 여러개이고 bno가 자동증가한다지만 중간데이터를 삭제하면 다음 데이터가 생성될떄 건너띄고 데이터가 생성되는 상황 발생! 그래서 이렇게 해줌으로써 최신의 bno 값을 가져와서 등록하는 것이다
	 -->
	 
	 <!-- 
	 <insert id="insertSelectKey">	
		<selectKey keyProperty="bno" order="BEFORE" resultType="long"> 반환값이 long타입일때 쿼리를 수행해라!
			select seq_board.nextval from dual
		</selectKey>	게시글 번호가 몇개인지 확인하겠다는 얘기
		insert into tbl_board (bno,title,content, writer)
		values (#{bno}, #{title}, #{content}, #{writer}) 
	</insert> 
	-->
	
	<select id="read" resultType="org.zerock.domain.BoardVO">	<!-- DB검색을 xml파일로 코딩해서 구현하는 법 --> <!-- 결과타입을 BoardVO로 가져오겠다는 뜻! -->
       select * from tbl_board where bno=#{bno}
    </select>
    
	<!-- <select id="getListWithPaging"
    resultType="org.zerock.domain.BoardVO">
  <![CDATA[
   select *
   from (
   select rownum rn, bno, title, content, writer 
   from tbl_board order by bno desc
   where rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum}-1) * #{amount}   
 
  ]]>
  </select> -->
  
  <select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
   select * 
   from tbl_board 
   <!-- order by bno desc  -->
   limit #{pageNum}, #{amount}
  </select>
	
	<delete id="delete">	<!-- DB삭제를 xml파일로 코딩해서 구현하는 법 --> 
      	<!-- delete tbl_board where bno=#{bno} -->	<!-- 얘는 오라클문법! (from이 없다) -->
		delete from tbl_board where bno=#{bno}
    </delete>
	
	<update id="update">	<!-- DB수정을 xml파일로 코딩해서 구현하는 법 -->
		<!-- update tbl_board set title=#{title}, content=#{content},writer=#{writer},updateDate=sysdate where bno=#{bno} --><!-- 얘는 오라클에서 sysdate 쓸때! -->
		update tbl_board set title=#{title},content=#{content}, writer=#{writer} where bno=#{bno}
	</update>

</mapper>
  