<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.EventBoardMapper">
<resultMap type="org.zerock.domain.EventVO" id="boardResult">
		<id property="boardNo" column="BOARD_NO"></id>
		<result property="boardCategory" column="BOARD_CATEGORY" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardRegdate" column="BOARD_REGDATE" />
		<result property="boardReadcount" column="READCOUNT" />
		<result property="fileName" column="FILE_NAME" />
		<result property="thumbnail" column="THUMBNAIL" />
		<result property="userNo" column="USER_NO" />
	</resultMap>
	<insert parameterType="org.zerock.domain.EventVO" id="register">
		INSERT INTO KOCO_BOARD(BOARD_CATEGORY, BOARD_TITLE, BOARD_CONTENT, BOARD_REGDATE, READCOUNT, FILE_NAME, THUMBNAIL, USER_NO)
		<!-- VALUES(3, #{boardTitle}, #{boardContent}, NOW(), 0, #{fileName, jdbcType=VARCHAR}, NULL, #{userNo}) -->
		VALUES(3, #{boardTitle}, #{boardContent}, NOW(), 0, #{fileName, jdbcType=VARCHAR}, NULL, 1)
	</insert>
	<!-- <select parameterType="java.lang.Integer" id="getBoardInfoName" resultType="java.lang.String">
		SELECT INFO_NO as infoNo
		FROM KOCO_BOARD_INFO 
		WHERE INFO_NAME = #{boardCategory}
	</select> -->
	<select id="get" resultType="org.zerock.domain.EventVO" resultMap="boardResult">
		select *
		from  KOCO_BOARD as board, KOCO_USERS as user  
		where BOARD_NO=#{boardNo} and board.USER_NO=user.USER_NO
	</select>
	<select id="getUpdate" resultType="org.zerock.domain.EventVO" resultMap="boardResult">
		select *
		from  KOCO_BOARD as board, KOCO_USERS as user  
		where BOARD_NO=#{boardNo} and board.USER_NO=user.USER_NO
	</select>
	<update id="postUpdate">
		update KOCO_BOARD 
		set BOARD_TITLE=#{boardTitle},BOARD_CONTENT=#{boardContent},BOARD_REGDATE=NOW(),FILE_NAME=#{fileName},THUMBNAIL=NULL,USER_NO=#{userNo} where BOARD_NO=#{boardNo}
	</update>
	<delete id="delete">
		delete from KOCO_BOARD where BOARD_NO=#{boardNo}
	</delete>
	<select id="getListWithPaging" resultType="org.zerock.domain.Board2VO" resultMap="boardResult">
		<!-- select BOARD_NO, BOARD_TITLE, user.USER_NICKNAME, BOARD_REGDATE, READCOUNT
		from KOCO_BOARD as board, KOCO_USERS as user
		where board.USER_NO = user.USER_NO and BOARD_CATEGORY=3
		order by BOARD_NO desc
		limit #{pageNum}, #{amount} -->
		select BOARD_NO, BOARD_TITLE, USER_NO, BOARD_REGDATE, READCOUNT
		from KOCO_BOARD
		<!-- where BOARD_CATEGORY=3 -->
		order by BOARD_NO desc
		limit #{pageNum}, #{amount}
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) 
		from KOCO_BOARD 
		where BOARD_NO > 0
	</select>
</mapper>